<div>
  <form action="" style="width:600px; background: #ffffff;" class="p-2 shadow border">
    <mat-label>Brand Name</mat-label>
    <mat-form-field apperance="outline" class="col pl-0 pr-0">
      <input type="text" matInput [(ngModel)]="name" name="name">
    </mat-form-field>
    <div class="d-flex justify-content-center">
      <button *ngIf="brand" mat-raised-button color="primary" (click)="updateBrand()">Update</button>

      <button *ngIf="!brand" mat-raised-button color="primary" (click)="addBrand()">Add</button>
    </div>
  </form>
</div>
