<div class="d-flex col flex-wrap">
  <div class="col p-2">
    <mat-card class="text-center">
      <h4 style="font-size: x-large;
      color: green;">Total Orders</h4>
      <h6 style="font-size: xx-large;
      color: green;">{{totalOrders}}</h6>
    </mat-card>
  </div>
  <div class="col p-2">
    <mat-card class="text-center">
      <h4 style="font-size: x-large;
      color: orange;">Total Products</h4>
      <h6 style="font-size: xx-large;
      color: orange;">{{totalProducts}}</h6>
    </mat-card>
  </div>
  <div class="col p-2">
    <mat-card class="text-center">
      <h4 style="font-size: x-large;
      color: purple;">Total Brands</h4>
      <h6 style="font-size: xx-large;
      color: purple;">{{totalBrands}}</h6>
    </mat-card>
  </div>
</div>
